/* Button */

.button {
    display: inline-block;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    color: white;
}

.button-primary {
    background-color: #0081ff;
}

.button-secondary {
    background-color: #54b14a;
}

.button-wrapper-right {
    text-align: right;
}