/* Centralizar */

.centralizar {
    background: rgba(219, 214, 214, 0.746);
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 48%;
    text-align: center;
}

.servicos {
    padding-top: 150px;
}

.img-servico {
    height: 50px;
    padding: 50px;
}