/* Contato */

.map-wrapper {
    height: 300px;
    margin: 0 -15px -29px;

}

@media(min-width: 720px) {
    .map-wrapper {
        width: 50vw;
        height: auto;
        margin: 0;
        position: absolute;
        top: 78px;
        right: 0;
        bottom: 126px;
        z-index: 1;
    }

}

.map {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    max-width: 720px;
}