/* Footer */

.footer {
    width: 100%;
    padding: 20px 15px;
    text-align: center;
    color: #333;
    background: #efefef;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    box-sizing: border-box;
}

.footer nav li,
.footer nav a {
    display: inline-block;
}

.footer nav a {
    padding: 10px 4px;
    font-size: 12px;
    line-height: 18px;
    color: gray;
}

@media (min-width: 720px) {
    .footer nav a {
        padding: 10px 20px;
        font-size: 16px;
    }
}

.footer p {
    margin: 30px 0 0;
}