body {
  background: linear-gradient(50deg, #0c0c0c 20%,#8215D1 20%);
  
}

h1 {
  font-size: 35px;
}

h1, label {
  color:#ffff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}