/* Header */

.header {
    width: 100%;
    padding: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-sizing: border-box;
}

@media (max-width: 979px) {
    .header nav {
        display: in;
        text-align: center;
        transform: translate(0,0);
    }
}

@media (min-width: 980px) {
    .header nav {
        display: in;
        text-align: center;
        transform: translate(0,0);
    }
    .header li,
    .header li a {
        display: inline-block;
    }
}
