.nintendoDs {
    position: relative;
    color: white
}

.nintendoDs::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/nintendo3ds.png) no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.nintendoDs > div {
    position: relative;
    z-index: 2;
}

.nintendoDs .row {
    height: 100vh;
    text-align: center;
    align-items: center;
}

.nintendoDs h1 {
    font-size: 26px;
}

.nintendoDs p {
    font-size: 16px;
}

.nintendoDs br {
    display: none;
}

@media (min-width: 760px) {
    .nintendoDs h1 {
        font-size: 40px;
    }
    
    .nintendoDs p {
        font-size: 20px;
    }

    .nintendoDs br {
        display: block;
    }
}

#dadosPokemon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.arriba {
    width: 250px;
    height: 150px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    display: flex;
    /* box-sizing: border-box; */
}

.nome {
    text-align: center;
    margin-top: 60px;
    box-sizing: border-box;
}

.thumb {
    width: 100px;
    margin-top: 30px;
    
    box-sizing: border-box;
}

.abajo {
    width: 204px;
    height: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* box-sizing: border-box; */
}

.width50 {
    width: 50%;
}

.table {
    width: 200px;
    height: 150px;
    justify-content: start;
    
}

