/* Reset */
body {
    background: linear-gradient(85deg,  #dd0d0d 0%,#1345eb 100%);
}

body, ul {
    margin: 0;
}

body,
input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgb(0, 0, 0);
}

input {
    font-size: 20px;
}

ul {
    padding: 0;
    list-style: none;
}